<!DOCTYPE html>
<html>

<head>
    <title>API Endpoints</title>
</head>

<body>
    <h1>API Endpoints</h1>

    <!-- List all places present in the Database -->
    <h2>GET /places/ - List all places present in Database</h2>

    <!-- To create or add data to the Database -->
    <h2>POST /places/create/ - To create or add data to Database</h2>

    <!-- To delete data based on id -->
    <h2>DELETE /places/&lt;int:pk&gt;/delete/ - To delete data based on id</h2>

    <!-- To search places based on name or description -->
    <h2>GET /places/search/ - To search places based on name or description</h2>

    <!-- To render HTML page and view Leaflet map -->
    <h2>GET /places/list/ - To render HTML page and view Leaflet map</h2>
</body>

</html>
